#dbSelect {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    box-style: border-box;
    border-style: solid;
    border-width: 0 5px 0 0;
}

#dbSelect a {
    display: block;
    width: 100%;
    text-decoration: none;
}

#erdPanel {
    position: fixed;
    left: 20%;
    top: 0;
    width: 80%;
    height: 70%;
    box-style: border-box;
    border-width: 0 0 5px 0;
    border-style: solid;
}

#erdContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
}

#queryPanel {
    position: fixed;
    left: 20%;
    top: 70%;
    width: 80%;
    height: 30%;
    box-style: border-box;
}

#loginOverlay {
    z-index: 15;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    position: fixed;
    border-radius: 10px;
    padding: 10px;
}

#loginDialog {
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
}

#queryOverlay {
    z-index: 15;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#queryDialog {
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}
