.dark-mode #dbSelect {
    background-color: black;
    border-color: #777777;
}

.dark-mode #dbSelect a {
    background-color: black;
    color: white;
}

.dark-mode #dbSelect a.active {
    background-color: #2b2b7c;
}

.dark-mode #dbSelect a:hover:not(.active) {
    background-color: #1b1ba7;
}

.dark-mode #erdPanel {
    background-color: black;
    border-color: #777777;
}

.dark-mode #erdContainer {
    background-color: black;
}

.dark-mode #queryPanel {
    background-color: black;
}

.dark-mode #loginOverlay {
    background-color: black;
}

.dark-mode .dialog {
    border: 2px #1d1d1d solid;
    background-color: #333333;
    color: white;
}

.dark-mode code {
    background-color: #222222;
    color: #d4484f;
}

.dark-mode input, .dark-mode input:focus {
    background-color: black;
    color: #eeeeee;
}