.light-mode #dbSelect {
    background-color: white;
    border-color: #777777;
}

.light-mode #dbSelect a {
    background-color: white;
    color: black;
}

.light-mode #dbSelect a.active {
    background-color: #7777ff;
}

.light-mode #dbSelect a:hover:not(.active) {
    background-color: #bbbbff;
}

.light-mode #erdPanel {
    background-color: white;
    border-color: #777777;
}

.light-mode #erdContainer {
    background-color: white;
}

.light-mode #queryPanel {
    background-color: white;
}

.light-mode #loginOverlay {
    background-color: white;
}

.light-mode .dialog {
    border: 2px black solid;
    background-color: #EEEEEE;
}